<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/views/blog-ponder.jpg">
  <link rel="stylesheet" href="/style.css">
  <title>Blog Ponder</title>
</head>

<body>
  <header>
    <div class="blog"><h1>Blog Ponder</h1></div> 
    <div id="btn">
      <Button type="submit"onclick="window.location.href='#signup'">signup</Button>
      <Button type="submit">login</Button>
    </div>
  </header>

  <main>
    <h2>Recent Posts</h2>

    <% posts.forEach(post=> { %>
      <div class="post">
        <h3><a href="/posts/<%= post.id %>">
            <%= post.title %>
          </a></h3>
        <p>
          <%= post.content.slice(0, 150) %>...
        </p>
      </div>
      <% }); %>

        <div class="compose-link">
           <a href="/compose">Compose a New Blog</a>
        </div>
  </main>

  <section class="signup" id="signup">
    <div class="container">
      <h2>Sign Up Now</h2>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign Up</button>
      </form>
    </div>
  </section>
</body>

</html>