body {
  font-family: Arial, sans-serif;
  margin: 20px;
  height: 100vh;
}

header {
  position: sticky;
  top:0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
#btn{margin-left: 60rem;
  cursor: pointer;

}

header h1 {
  font-weight: 600;
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(black, green, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: abhay 2s ease-in-out infinite;
  -webkit-text-stroke: 1px goldenrod;
  letter-spacing: 3px;
}

.post {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  margin-left: 2rem;
}

#signup {
 margin-top: 3rem;
}

form {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 14rem;
  max-width: 400px;
  margin: 0 auto;
}
input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #fff;
  color: blue;
  padding: 10px 20px;
  margin-top: 3rem;
  border-radius: 2rem;
  cursor: pointer;
}

label {
  margin-bottom: 8px;
  margin-left: 0;
}

#contents {
  box-sizing: 2rem;
}

* {
  background-color: #ccc;
  /* object-fit: cover;
  background-image: url('https://plus.unsplash.com/premium_photo-1664127534779-f1ab9a1962df?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
}